In [1]:
import pandas as pd

In [25]:
hawaii_measurements = pd.read_csv('./hawaii_measurements.csv')
hawaii_stations = pd.read_csv('./hawaii_stations.csv')

In [8]:
# Drop all rows with NA values
hawaii_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [53]:
# Drop all rows with NA values
dates = []
hawaii_measurements = hawaii_measurements.dropna()
hawaii_measurements = hawaii_measurements.reset_index()
hawaii_measurements = hawaii_measurements.drop(['index'], axis=1)
for row in hawaii_measurements['date']:
    new_date = pd.to_datetime(row)
    dates.append(new_date)
hawaii_measurements['date'] = dates
hawaii_measurements['date'] = hawaii_measurements['date'].dt.date
hawaii_measurements

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-07  0.06    70
5      USC00519397  2010-01-08  0.00    64
6      USC00519397  2010-01-09  0.00    68
7      USC00519397  2010-01-10  0.00    73
8      USC00519397  2010-01-11  0.01    64
9      USC00519397  2010-01-12  0.00    61
10     USC00519397  2010-01-14  0.00    66
11     USC00519397  2010-01-15  0.00    65
12     USC00519397  2010-01-16  0.00    68
13     USC00519397  2010-01-17  0.00    64
14     USC00519397  2010-01-18  0.00    72
15     USC00519397  2010-01-19  0.00    66
16     USC00519397  2010-01-20  0.00    66
17     USC00519397  2010-01-21  0.00    69
18     USC00519397  2010-01-22  0.00    67
19     USC00519397  2010-01-23  0.00    67
20     USC00519397  2010-01-24  0.01    71
21     USC00519397  2010-01-25  0.00    67
22     USC00519397  2010-01-26  0.04    76
23     USC00519397  2010-01-27  0.12    68
24     USC00519397  2010-01-28  0.00    72
25     USC00519397  2010-01-31  0.03    67
26     USC00519397  2010-02-01  0.01    66
27     USC00519397  2010-02-04  0.01    69
28     USC00519397  2010-02-05  0.00    67
29     USC00519397  2010-02-06  0.00    67
...            ...         ...   ...   ...
18073  USC00516128  2017-07-17  0.39    72
18074  USC00516128  2017-07-18  2.40    77
18075  USC00516128  2017-07-19  0.27    74
18076  USC00516128  2017-07-20  0.70    75
18077  USC00516128  2017-07-21  0.10    72
18078  USC00516128  2017-07-22  4.00    72
18079  USC00516128  2017-07-23  0.80    78
18080  USC00516128  2017-07-24  0.84    77
18081  USC00516128  2017-07-25  0.30    79
18082  USC00516128  2017-07-26  0.30    73
18083  USC00516128  2017-07-27  0.00    75
18084  USC00516128  2017-07-28  0.40    73
18085  USC00516128  2017-07-29  0.30    77
18086  USC00516128  2017-07-30  0.30    79
18087  USC00516128  2017-07-31  0.00    74
18088  USC00516128  2017-08-02  0.25    80
18089  USC00516128  2017-08-03  0.06    76
18090  USC00516128  2017-08-07  0.05    78
18091  USC00516128  2017-08-08  0.34    74
18092  USC00516128  2017-08-09  0.15    71
18093  USC00516128  2017-08-10  0.07    75
18094  USC00516128  2017-08-12  0.14    74
18095  USC00516128  2017-08-14  0.22    79
18096  USC00516128  2017-08-15  0.42    70
18097  USC00516128  2017-08-16  0.42    71
18098  USC00516128  2017-08-17  0.13    72
18099  USC00516128  2017-08-19  0.09    71
18100  USC00516128  2017-08-21  0.56    76
18101  USC00516128  2017-08-22  0.50    76
18102  USC00516128  2017-08-23  0.45    76

[18103 rows x 4 columns]

In [50]:
t = dates[1]
t.date()

datetime.date(2010, 1, 2)

In [35]:
hawaii_measurements_means = hawaii_measurements.groupby(by='station').mean()
hawaii_measurements_means = hawaii_measurements_means.reset_index()
hawaii_measurements_means

       station      prcp       tobs
0  USC00511918  0.047971  71.527433
1  USC00513117  0.141921  72.678042
2  USC00514830  0.121058  74.813113
3  USC00516128  0.429988  70.865137
4  USC00517948  0.063602  74.587116
5  USC00518838  0.207222  72.675439
6  USC00519281  0.212352  71.663781
7  USC00519397  0.049020  74.564246
8  USC00519523  0.114961  74.532659

In [40]:
hawaii_combined = pd.merge(hawaii_measurements_means, hawaii_stations, how='inner', on='station')

In [54]:
hawaii_combined.to_csv('./clean_hawaii_combined.csv')
hawaii_measurements.to_csv('./clean_hawaii_measurements.csv')
hawaii_stations.to_csv('./clean_hawaii_stations.csv')